body{
    background-color: rgb(142, 140, 140);
    height: 840px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    legend{
        font-size: 30px;
    }

    label :"email"{
        font-size: 30px;
    }
    

    form{
    
    }

    
}
